@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

$Grayish-blue: hsl(237, 18%, 59%);
$Soft-red: hsl(345, 95%, 68%);
$White: hsl(0, 0%, 100%);
$Dark-desaturated-blue: hsl(236, 21%, 26%);
$dark-blue: hsl(235, 16%, 14%);
$Very-dark-blue: hsl(234, 17%, 12%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body {
  font-family: "Red Hat Text", sans-serif;
  background: linear-gradient($Very-dark-blue, $dark-blue);
  overflow: hidden;
}

.container {
  padding-top: 10%;
  height: 100vh;
  width: 100vw;
  max-width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: url("../images/bg-stars.svg") no-repeat center center/cover;
}

header {
  color: $White;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;

  @media (max-width: 570px) {
    font-size: 16px;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;

  @media (max-width: 570px) {
    gap: 8%;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    .card-number {
      background: linear-gradient(
        hsl(235, 16%, 16%) 50%,
        hsl(237, 21%, 20%) 50%
      );
      color: $Soft-red;
      // font-size: 38px;
      padding: 15px 30px;
      border-radius: 10px;
      position: relative;

      @media (max-width: 570px) {
        padding: 10px 20px;
        h1 {
          // font-size: 24px;
        }
      }
      @media (max-width: 400px) {
        h1 {
          font-size: 24px;
        }
      }

      &:before {
        content: "";
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: linear-gradient($Very-dark-blue, $dark-blue);
        position: absolute;
        left: -8px;
        top: 45%;
      }

      &:after {
        content: "";
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: linear-gradient($Very-dark-blue, $dark-blue);
        position: absolute;
        right: -8px;
        top: 45%;
      }
    }

    .card-title {
      color: $Grayish-blue;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 2.2px;
    }
  }
}

footer {
  width: 100%;
  height: 200px;
  position: relative;
  .footer-container {
    background-image: url("../images/pattern-hills.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    cursor: pointer;

    @media (max-width: 570px) {
      background-size: cover;
    }
  }
}
